<button class="btn pull-left" ng-click="newKey()">New Keypair</button>
<input type="text" ng-model="key.label" placeholder="label">
{{ message }}
<p>Balance: {{ balance }}</p>
<p><input type="text" ng-model="send.address" placeholder="address">
<input type="number" ng-model="send.amount" min="0" step="0.00000001" 
placeholder="amount">
<button class="btn pull-left" ng-click="sendToAddress()">Send</button>
</p>
<br><br>
<table class="table-striped">
    <tr>
        <th>Label</th>
        <th>Public Key</th>
    </tr>
    <tr ng-repeat="key in keys">
        <td>{{ key.label }}</td>
        <td>{{ key.publicKey }}</td>
    </tr>
</table>